<DockLayout  style="margin-bottom: 40px" stretchLastChild="true" class="item telefonica-regular" >
    <DockLayout stretchLastChild="true" dock="top">
        <StackLayout dock="left">
            <Image style="border-radius: 15%" width="100" height="100" src="{{imaginaryFriend.photo}}" ></Image>
        </StackLayout>
        <StackLayout dock="left">
            <Label class="name " textWrap="true" text="{{imaginaryFriend.name}}"></Label>
        </StackLayout>
    </DockLayout>

</DockLayout>
