<FlexboxLayout class="my-page" flexDirection="column" flexWrap="wrap">
    <StackLayout>

    </StackLayout>
    <StackLayout class="middle-container">
        <Image src="~/images/logo.jpg"  class="my-img" ></Image>
        <StackLayout class="my-labels">
        <Label text="Imaginary" class="h1" ></Label>
        <Label text="Friends" class="h1" ></Label>
        </StackLayout>
        <Button (tap)="goMenu()" class="my-btn" text="LET'S GO"></Button>
    </StackLayout>
    <StackLayout></StackLayout>
</FlexboxLayout>
